<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...your-integrity-code-here..." crossorigin="anonymous" />
    <title>Login</title>
  </head>
  <body style="margin: 0">
    <header>
      <h1>robdroneGO</h1>
      <button class="home-button" (click)="goToHome()">
        <i class="fas fa-home"></i>
      </button>
    </header>
    <div class="background-image">
      <form id="menu">
        <h1>Passage Menu</h1>
        <div class="menu-columns">
          <div class="menu-column">
              <button class="menu-button new-style" (click)="openCreatePassagePage()">Create Passage</button>
              <button class="menu-button new-style" (click)="openUpdatePassagePage()">Edit Passage Between Buildings</button>
            </div>
            <div class="menu-column">
              <button class="menu-button new-style" (click)="openListPassagesBetweenBuildingsPage()">List Passage Between Two Buildings</button>
              <button class="menu-button invisible"></button>
              <button (click)="goBackToMenu()">Back</button>
            </div>
          </div>
      </form>
      
    </div>

    <footer>
      <div class="footer-content">
          <div class="footer-columns">
              <div class="footer-column">
                  <h3 class="footer-titles">Team</h3>
                  <ul>
                  <li>Sérgio Marques</li>
                  <li>Pedro Alves</li>
                  <li>Francisco Gouveia</li>
                  <li>Francisco Marques</li>
                  <li>Leonardo Miranda</li>
                  <li><a routerLink="/about-us">Know more about us</a></li>
                  </ul>
              </div>
              
              <div class="footer-column">
                  <h3 class="footer-titles">Project</h3>
                  <ul>
                  <li>Integrative Project</li>
                  <li>5th for the semester</li>
                  <li>of the Degree in </li>
                  <li>Computer Engineering</li>
                  <li>(ISEP)</li>
                  </ul>
              </div>
              
              <div class="footer-column">
                  <h3 class="footer-titles">Group</h3>
                  <ul>
                  <li>G10</li>
                  </ul>
              </div>
          </div>
          
          <div class="footer-image">
              <img src="./../../assets/logo_isep_2023.png" alt="Footer Image">
          </div>
      </div>

      <div class="footer-bottom-container">
          <div class="footer-bottom">
              <ul>
              <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
              <li><a href="#">Terms of Sale</a></li>
              <li><a href="#">Acceptable Use Policy</a></li>
              <li><a href="#">User Agreement</a></li>
              </ul>
          </div>
      </div>
    </footer>
    
  </body>
</html>
