<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...your-integrity-code-here..." crossorigin="anonymous" />
</head>
<body>
    <div>
        <button class="back-button" (click)="goToHome()">
            <i class="fas fa-arrow-left"></i>
        </button>
    </div>
    <div class="dotted-line"></div>
    <div class="content">
        <div class="contact-section">
            <h2 class="title">Privacy Policy</h2>
            <p>Updated 11 November, 2023</p>
            <p class="team-text">
                <p class="text1">We take your privacy seriously and this privacy policy explains how robotdroneGo or its affiliated companies (collectively, "we", "us", or "our") collect, use, share and process your personal information. We are the “data controller” in respect of your personal information.</p>
            
                <strong>1. What is personal data/personal information?</strong>
                <p class="text">Personal data is information that can be used to directly or indirectly identify you. Personal data does not include data that has been irreversibly anonymized or aggregated so that it can no longer enable us, whether in combination with other information or otherwise, to identify you.</p>
            
                <strong>2. How and when we collect personal data about you</strong>
                <p class="text2">We collect and process personal information when you:</p>
                <ul>
                    <li>use our app (including when registering on our app);</li>
                    <li>use any products or services from our app, download a software update, or subscribe to any of our services;</li>
                    <li>contact our team or request information from us in any other way.</li>
                </ul>
            
            
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <div class="footer-columns">
                <div class="footer-column">
                    <h3 class="footer-titles">Team</h3>
                    <ul>
                    <li>Sérgio Marques</li>
                    <li>Pedro Alves</li>
                    <li>Francisco Gouveia</li>
                    <li>Francisco Marques</li>
                    <li>Leonardo Miranda</li>
                    <li><a routerLink="/about-us">Know more about us</a></li>
                    </ul>
                </div>
                
                <div class="footer-column">
                    <h3 class="footer-titles">Project</h3>
                    <ul>
                    <li>Integrative Project</li>
                    <li>5th for the semester</li>
                    <li>of the Degree in </li>
                    <li>Computer Engineering</li>
                    <li>(ISEP)</li>
                    </ul>
                </div>
                
                <div class="footer-column">
                    <h3 class="footer-titles">Group</h3>
                    <ul>
                    <li>G10</li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-image">
                <img src="./../../assets/logo_isep_2023.png" alt="Footer Image">
            </div>
        </div>

        <div class="footer-bottom-container">
            <div class="footer-bottom">
                <ul>
                <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                <li><a href="#">Terms of Sale</a></li>
                <li><a href="#">Acceptable Use Policy</a></li>
                <li><a href="#">User Agreement</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

