<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body style="margin: 0">
  <header>
    <h1>robdroneGO</h1>
  </header>
  <div class="background-image">
    <form [formGroup]="loginForm" (submit)="login()" autocomplete="new-password">
      <h1>Login</h1>

      <div class="form-control">
        <label for="email">Email</label>
        <input formControlName="email" id="email" autocomplete="new-password" type="email"
          placeholder="Email address" />
        <span class="error-message" *ngIf="(loginForm.controls.email.invalid && submitted)">
          Email address is invalid
        </span>
      </div>

      <div class="form-control">
        <label for="password">Password</label>
        <input formControlName="password" id="password" autocomplete="new-password" type="password"
          placeholder="Password" />
        <span class="error-message" *ngIf="(loginForm.controls.password.invalid && submitted)">
          Password is invalid
        </span>
      </div>


      <button type="submit">Confirm</button>
    </form>
  </div>

  <footer>
    <div class="footer-content">
      <div class="footer-columns">
        <div class="footer-column">
          <h3 class="footer-titles">Team</h3>
          <ul>
            <li>Sérgio Marques</li>
            <li>Pedro Alves</li>
            <li>Francisco Gouveia</li>
            <li>Francisco Marques</li>
            <li>Leonardo Miranda</li>
            <li><a routerLink="/about-us">Know more about us</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h3 class="footer-titles">Project</h3>
          <ul>
            <li>Integrative Project</li>
            <li>5th for the semester</li>
            <li>of the Degree in </li>
            <li>Computer Engineering</li>
            <li>(ISEP)</li>
          </ul>
        </div>

        <div class="footer-column">
          <h3 class="footer-titles">Group</h3>
          <ul>
            <li>G10</li>
          </ul>
        </div>
      </div>

      <div class="footer-image">
        <img src="./../../assets/logo_isep_2023.png" alt="Footer Image">
      </div>
    </div>

    <div class="footer-bottom-container">
      <div class="footer-bottom">
        <ul>
          <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          <li><a href="#">Terms of Sale</a></li>
          <li><a href="#">Acceptable Use Policy</a></li>
          <li><a href="#">User Agreement</a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>